@charset "UTF-8";
* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: "Noto Sans TC", "Red Hat Display", "PingFang TC", "Microsoft JhengHei", "sans-serif";
}

.contentContainer h1 {
  font-size: 48px;
}
.contentContainer h2 {
  font-size: 40px;
}
.contentContainer h3 {
  font-size: 32px;
}
.contentContainer h4 {
  font-size: 28px;
}
.contentContainer h5 {
  font-size: 24px;
}
.contentContainer h6 {
  font-size: 20px;
}

/*  */
body {
  background-color: #FFE1D5;
}

.contentContainer {
  background-color: #ffffff;
  border-bottom-right-radius: 128px;
  border-bottom-left-radius: 128px;
  padding-bottom: 80px;
}

.mainContainer {
  width: 1760px;
  margin: 0 auto;
  text-align: center;
}

.titleDailyCard {
  margin-top: 80px;
}

.drawcardAnimation {
  margin-top: 64px;
  height: 1050px;
  background-color: #FFF3ED;
  border-radius: 64px;
  position: relative;
}

.cheerupBoy {
  position: absolute;
  right: 318px;
  bottom: 10px;
}

.cheerupGirl {
  position: absolute;
  left: 318px;
  bottom: 10px;
}

.drawcardAnimation h5 {
  padding-top: 80px;
}

.drawcardAnimation h2 {
  margin-top: 24px;
  color: #EA5446;
}

.texeDialogueBobble {
  width: 259px;
  border-radius: 100px;
  padding: 14.5px 16px;
  background-color: #FFE1D5;
  margin: 102px auto 0;
}

.bi-1-circle-fill {
  color: #EA5446;
}

.drawcardContainer {
  margin-top: 100px;
  /* background-color: grey; */
  position: relative;
}

.starsSmall {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 20px;
  left: 600px;
}

.starSingle {
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 650px;
}

.btnDecide {
  background-color: #ffc2a8;
  padding: 16px 40px;
  border-radius: 64px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border: 0px solid;
  margin-top: 500px;
  opacity: 0;
  z-index: 500;
  cursor: pointer;
}

/* 卡片散開 */
.cardcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cardcontainer .card {
  position: absolute;
  top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
}

/* 被寫進JS裡面，因為無法解決active維持的效果*/
/* .cardcontainer.active .card{
  transform: rotate(calc(var(--i) * 5deg))
    translate(calc(var(--i) * 120px), -70px);
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
} */
/* 卡片點擊 */
.cardcontainer .card:focus {
  translate: calc(var(--i) * 20px) -50px;
}

/* 裝飾消失 */
.cardcontainer.expanded ~ .starsSmall,
.cardcontainer.expanded ~ .starSingle,
.cardcontainer.expanded ~ .cheerupBoy,
.cardcontainer.expanded ~ .cheerupGirl {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* 按鈕出現 */
.cardcontainer.expanded ~ .btnDecide {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  z-index: 500;
}

/* Z-index:9999 */
/* 抽卡結果Section */
.drawcardAns {
  background-color: #FFF5E3;
  height: 1050px;
  border-radius: 64px;
  display: none;
}

.drawcardDetail {
  margin: 180px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  gap: 80px;
  padding: 48px;
  width: 960px;
  background-color: #fff;
  border-radius: 48px;
  position: relative;
}

.cardResultPic {
  position: absolute;
  top: -170px;
  left: 0;
}

.cardResult .space {
  width: 280px;
}

.drawcardAns h5 {
  padding-top: 80px;
}

.drawcardAns .textCardResult {
  margin-top: 24px;
  color: #EA5446;
}

.cardResultText {
  line-height: 24px;
}

.cardResultText .cardName {
  font-weight: 900px;
}

.cardResultText .resultUP {
  margin-top: 24px;
}

.cardResultText .resultDown {
  margin-top: 16px;
}

.btnSave {
  margin-top: 48px;
  background-color: #EA5446;
  border-radius: 100px;
  padding: 16px 40px;
  color: #FFFFFF;
  border: 0 solid;
  cursor: pointer;
}

.illustrations {
  position: relative;
}
.illustrations .heroBoy {
  position: absolute;
  left: 300px;
}
.illustrations .heroGirl {
  position: absolute;
  right: 300px;
}/*# sourceMappingURL=all.css.map */